<h3>You have signed up as a volunteer with the following details:</h3>

<table class="table-responsive pt-2">
  <table class="table table-hover">

    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Cellphone Number</th>
        <th scope="col">Alternate Phone Number</th>
        <th scope="col">Location</th>
<!--         <th scope="col">Options</th> -->

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= @volunteer.id %></th>
        <td><%= @volunteer.full_name %></td>
        <td><%= @volunteer.email %></td>
        <td><%= @volunteer.cp_number %></td>
        <td><%= @volunteer.alt_cp_number %></td>
        <td><%= @volunteer.location %></td>
<!--         <td>
          <%= link_to 'Edit', edit_volunteer_path(@volunteer), class: 'btn btn-outline-primary btn-sm' %>

          <%= link_to 'Delete', volunteer_path(@volunteer), method: :delete,data: {confirm: 'Are you sure?'}, class: 'btn btn-outline-primary btn-sm' %> </td> -->
      </tr>
    </tbody>
  </table>
</table>
