

<%= form_for @event do |f| %>

<p>
  <%= f.label :title %> <br>
  <%= f.text_field :title, style: 'width: 50%;' %>
</p>

<p>
  <%= f.label :subtitle, 'Event Details' %> <br>
  <%= f.text_field :subtitle, style: 'width: 50%;  height: 50px' %>
</p>

<p>
  <%= f.label :event_images, 'Images' %> <br>
  <%= f.file_field :event_images, multiple: true %>
</p>

<p>
  <%= f.label :tag %> <br>
  <%= f.text_field :tag, style: 'width: 50%;' %>
</p>

<p>
  <%= f.label :details, 'Event Story' %> <br>
  <%= f.text_area :details, style: 'width: 50%; height: 200px;' %>
</p>


<p>
  <%= f.submit 'Submit'%>
  <%= link_to 'Back', events_path %>
</p>


<% end %>