<div class="text-center"> 
  <h1>Events Page</h1> 

  <% if current_user %>
  <p><%= link_to 'New Event', new_event_path, class: 'btn btn-outline-primary' %>
  <% end %>
  </p>
</div>
<br>


<% @events.each do |event| %>

<div class="border px-2 py-2 mb-3">

  <% if current_user %>
<h2><%= link_to event.title, event_path(event) %></h2>
  <% end %>
<h4><%= event.subtitle %></h4>
<p class="btn btn-sm btn-success"><%= event.tag %></p>
<hr style="border: 1px solid blue;">
<p><%= event.details %></p>

<div>
  <% if event.event_images.attached? %>
  <p class="text-center px-2">
    <strong>Images</strong> <br>
    <% event.event_images.each do |image| %>
      <%= image_tag image.variant(resize: '200x200!'), class: 'img-thumbnail' %>
    <% end %>
  </p>
  <% end %>
</div>
</div>

<% end %>





