<h1> <%= @event.title %> </h1>
<h3> <%= @event.subtitle %></h3>
<p class="btn btn-outline-primary btn-sm"><%= @event.tag %></p>
<hr style="border: 1px solid blue">
<p><%= @event.details %></p>

<div>
  <% if @event.event_images.attached? %>
  <p class="text-center px-2">
    <strong>Images</strong> <br>
    <% @event.event_images.each do |image| %>
      <%= image_tag image.variant(resize: '200x200!'), class: 'img-thumbnail' %>
    <% end %>
  </p>
  <% end %>

  <div class="text-center">
    <%= link_to 'Back', events_path, class: 'btn btn-outline-primary' %>
    <%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: 'Are you sure'}, class: 'btn btn-outline-primary' %>
    <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-outline-primary' %>
  </div>


  <div class="mt-4">
    <h4>Future possible update:</h4>
    <p>On .hover, photo will enlarge (lightbox)</p>
  </div>
</div>