<div class="container-fluid"> <!-- main container -->

  <!-- LACAG Header -->
<!--   <div class="org-header mt-2 text-center pb-4 pt-4 text-white">
    <h1>
      LAW ABIDING CITIZENS ALLIANCE GROUP (LACAG) INC.
    </h1>
  </div>
 -->  <!-- LACAG Header //end -->

  <!-- First Row #SHOWCASE and #EVENTS -->
    <div class="row row-eq-height justify-content-between">

      <div class="col-sm-8 mt-4">
        <h1>LACAG at a Glance</h1>
          <% if current_user %>
            <%= link_to 'Volunteer List', volunteers_path, class: 'btn btn-outline-info' %>
          <% end %>
        <hr style="border: 1px solid blue">
        <div class="col-sm-12 text-center left-col-showcase">
              <div class="container">
      <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner text-center" style="max-height: 20%; max-width: 30%">
    <div class="carousel-item active">
      <%= image_tag "LACAGTarp.jpg", style: "max-width: 200px;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "LACAG Logo.png", style: "max-width: 200px;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "LACAGTarp.jpg", style: "max-width: 200px; max-heigh: 20%;" %>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
    </div>
        </div>
      </div>

      <div class="col-sm-4 mt-4">
        <h1>Events</h1>

        <% if current_user %>
        
          <%= link_to 'List of Events', events_path, class: 'btn btn-outline-info' %>

        <% end %> 



        <hr style="border: 1px solid blue">
        <div class="col-sm-12 right-col-events">
            
          <% @events.each do |event| %>


          <h6><%= event.title %></h6>

          <% end %>
        </div>
      </div>
    </div>
    <!-- First Row #SHOWCASE and #EVENTS //end -->

    <div class="container">
      
    </div>

    <!-- Second Row #DONATIONS --START-- -->
    <div class="container-fluid mt-4">
      <h1>Donate and Volunteer</h1>

      <!-- Show NAV if logged in -->
      
      <% if current_user %>
        <%= link_to 'New Donation Item', new_donation_path, class: 'btn btn-outline-info' %>

      <% end %>



      <hr style="border: 1px solid blue">
      <div class="row">
        <div class="col-sm-12 donations-showpage">
            
            <!-- Donation Card --START-- -->
            
            <div class="container py-4">
              <div class="row">
                <% @donations.each do |donation| %>
                <div class="col col-sm-4 d-flex align-items-stretch pb-4">
                  <div class="card border-secondary">
                    <div class="card-header text-center">
                      <h5><%= donation.item_name %></h5>
                    </div>
                      <div class="card-body">
                        <% if donation.item_photo.attached? %>
                        <p class="text-center"> <%= image_tag donation.item_photo.variant(resize: '200x150!'), class: 'img-responsive' %> </p>
                        <% else %>
                        <p class="nophoto text-center" style="height: 150px;">No Photo Attached</p>
                        <% end %>

                        <p class="card-text">
                          <%= donation.item_description %>
                        </p>
                      </div>
                      <div class="card-footer bg-transparent text-center">
                        <%= link_to 'Donate', seminarsandtrainings_path, class: 'btn btn-primary' %>
                        <%= link_to 'Volunteer', new_volunteer_path, class: 'btn btn-primary' %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

            <!-- Donation Card --END-- -->
        </div>
      </div>
    </div>
    <!-- Second Row #DONATIONS --END-- -->

    <!-- Board of Trustees, Officers and Advisers --START-- -->

    <div class="container"> <!-- main container -->
      <h1>Board of Trustees, Officers and Advisers</h1>
      <hr style="border: 1px solid blue">
      <div class="row justify-content-center">
        <div class="col-sm-12 donations-showpage">

            <!-- Card --START-- -->
            
            <div class="container py-4">
              <div class="row">

                <div class="col col-sm-4 d-flex align-items-stretch pb-4">

                  <div class="card border-secondary">

                    <div class="card-header text-center">
                      <h5>
                        DIR. Guillermo V. Empinado LLB
                      </h5>
                    </div>

                    <div class="card-body">
                      <p class="text-center"> 
                        <%= image_tag 'LACAG Logo.png', style: 'height: auto; width: 100px;'%> 
                      </p>
                      <hr style="border: 1px solid">

                      <p class="card-text h5 text-center text-muted">
                        Legal Council
                      </p>
                    </div>

                    <div class="card-footer bg-transparent text-center">
                      <%= link_to 'Contact', root_path, class: 'btn btn-primary' %>
                    </div>

                  </div>
                </div>


                <div class="col col-sm-4 d-flex align-items-stretch pb-4">

                  <div class="card border-secondary">

                    <div class="card-header text-center">
                      <h5>
                       DIR. Ricky M. Montehermoso
                      </h5>
                    </div>

                    <div class="card-body">
                      <p class="text-center"> 
                        <%= image_tag 'LACAG Logo.png', style: 'height: auto; width: 100px;'%> 
                      </p>
                      <hr style="border: 1px solid">

                      <p class="card-text h5 text-center text-muted">
                        Founder, President, CEO and General Commander
                      </p>
                    </div>

                    <div class="card-footer bg-transparent text-center">
                      <%= link_to 'Contact', root_path, class: 'btn btn-primary' %>
                    </div>

                  </div>
                </div>

                <div class="col col-sm-4 d-flex align-items-stretch pb-4">

                  <div class="card border-secondary">

                    <div class="card-header text-center">
                      <h5>
                        DIR. Behilda R. Ebrado
                      </h5>
                    </div>

                    <div class="card-body">
                      <p class="text-center"> 
                        <%= image_tag 'LACAG Logo.png', style: 'height: auto; width: 100px;'%> 
                      </p>
                      <hr style="border: 1px solid">
                      <p class="card-text h5 text-center text-muted">
                        Vice President
                      </p>
                    </div>

                    <div class="card-footer bg-transparent text-center">
                      <%= link_to 'Contact', root_path, class: 'btn btn-primary' %>
                    </div>

                  </div>
                </div>





              </div>
            </div>

            <!-- Donation Card --END-- -->
        </div>
      </div>
    </div>


    <!-- Board of Trustees, Officers and Advisers --END-- -->




</div> <!-- end of main container -->