<div class="container-fluid"> <!-- main container -->

  <!-- LACAG Header -->
<!--   <div class="org-header mt-2 text-center pb-4 pt-4 text-white">
    <h1>
      LAW ABIDING CITIZENS ALLIANCE GROUP (LACAG) INC.
    </h1>
  </div>
 -->  <!-- LACAG Header //end -->

  <!-- First Row #SHOWCASE and #EVENTS -->
  <div class="container">
    <div class="row">

      <div class="col col-sm-8 mt-4">
        <h1>LACAG at a Glance</h1>
          <% if current_user %>
            <%= link_to 'Volunteer List', volunteers_path, class: 'btn btn-outline-primary' %>
          <% end %>
        <hr style="border: 1px solid blue">
        <div class="col-sm-12 text-center left-col-showcase">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators" style="color: black">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item">
                  <%= image_tag 'LACAG Logo.png', class: 'd-block w-100 carimg' %>
                </div>
                <div class="carousel-item">
                  <%= image_tag 'LACAG ECF-IG Division.jpg', class: 'd-block w-100 carimg' %>
                </div>
                <div class="carousel-item active">
                  <%= image_tag 'LACAGTarp.jpg', class: 'd-block w-100 carimg' %>
                </div>

              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            </div>
          </div>

      <!-- #EVENTS -->

      <div class="col col-sm-4 mt-4">
        <h1>Events</h1>

        <% if current_user %>
        
          <%= link_to 'List of Events', events_path, class: 'btn btn-outline-primary' %>

        <% end %> 



        <hr style="border: 1px solid blue">
        <div class="col-sm-12 right-col-events pt-2">
            
          <% @events.each do |event| %>

          <h6>
            <%= link_to event.title, event_path(event) %>
          </h6>

          <p class="small">
            <%= event.subtitle %>
          </p>

          <% if event.event_images.attached? %>
          <p>
          <strong class="small">Images</strong> <br>
          <% event.event_images.each do |image| %>
          <%= image_tag image.variant(resize: '35x35!'), class: 'img-thumbnail' %>
          <% end %>
          </p>
          <% end %>


          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
    <!-- First Row #SHOWCASE and #EVENTS //end -->

    <div class="container">
      
    </div>

    <!-- Second Row #DONATIONS --START-- -->
    <div class="container-fluid mt-4">
      <h1>Donate and Volunteer</h1>

      <!-- Show NAV if logged in -->
      
      <% if current_user %>
        <%= link_to 'New Donation Item', new_donation_path, class: 'btn btn-outline-info' %>

      <% end %>



      <hr style="border: 1px solid blue">
      <div class="row">
        <div class="col-sm-12 donations-showpage">
            
            <!-- Donation Card --START-- -->
            
            <div class="container py-4">
              <div class="row">
                <% @donations.each do |donation| %>
                <div class="col col-sm-4 d-flex align-items-stretch pb-4">
                  <div class="card border-secondary">
                    <div class="card-header text-center">
                      <h5><%= donation.item_name %></h5>
                    </div>
                      <div class="card-body">
                        <% if donation.item_photo.attached? %>
                        <p class="text-center"> <%= image_tag donation.item_photo.variant(resize: '200x150!'), class: 'img-responsive' %> </p>
                        <% else %>
                        <p class="nophoto text-center" style="height: 150px;">No Photo Attached</p>
                        <% end %>

                        <p class="card-text">
                          <%= donation.item_description %>
                        </p>
                      </div>
                      <div class="card-footer bg-transparent text-center">
                        <%= link_to 'Donate', donate_path, class: 'btn btn-primary' %>
                        <%= link_to 'Volunteer', new_volunteer_path, class: 'btn btn-primary' %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

            <!-- Donation Card --END-- -->
        </div>
      </div>
    </div>
    <!-- Second Row #DONATIONS --END-- -->

    <!-- Board of Trustees, Officers and Advisers --START-- -->

    <div class="container"> <!-- main container -->
      <h1>Board of Trustees, Officers and Advisers</h1>
      <hr style="border: 1px solid blue">
      <div class="row justify-content-center">
        <div class="col-sm-12 donations-showpage">

            <!-- Card --START-- -->
            
            <div class="container py-4">
              <div class="row">

                <div class="col col-sm-4 d-flex align-items-stretch pb-4">

                  <div class="card border-secondary">

                    <div class="card-header text-center">
                      <h5>
                        DIR. Guillermo V. Empinado LLB
                      </h5>
                    </div>

                    <div class="card-body">
                      <p class="text-center"> 
                        <%= image_tag 'LACAG Logo.png', style: 'height: auto; width: 100px;'%> 
                      </p>
                      <hr style="border: 1px solid">

                      <p class="card-text h5 text-center text-muted">
                        Legal Council
                      </p>
                    </div>

                    <div class="card-footer bg-transparent text-center">
                      <%= link_to 'Contact', root_path, class: 'btn btn-primary' %>
                    </div>

                  </div>
                </div>


                <div class="col col-sm-4 d-flex align-items-stretch pb-4">

                  <div class="card border-secondary">

                    <div class="card-header text-center">
                      <h5>
                       DIR. Ricky M. Montehermoso
                      </h5>
                    </div>

                    <div class="card-body">
                      <p class="text-center"> 
                        <%= image_tag 'LACAG Logo.png', style: 'height: auto; width: 100px;'%> 
                      </p>
                      <hr style="border: 1px solid">

                      <p class="card-text h5 text-center text-muted">
                        Founder, President, CEO and General Commander
                      </p>
                    </div>

                    <div class="card-footer bg-transparent text-center">
                      <%= link_to 'Contact', root_path, class: 'btn btn-primary' %>
                    </div>

                  </div>
                </div>

                <div class="col col-sm-4 d-flex align-items-stretch pb-4">

                  <div class="card border-secondary">

                    <div class="card-header text-center">
                      <h5>
                        DIR. Behilda R. Ebrado
                      </h5>
                    </div>

                    <div class="card-body">
                      <p class="text-center"> 
                        <%= image_tag 'LACAG Logo.png', style: 'height: auto; width: 100px;'%> 
                      </p>
                      <hr style="border: 1px solid">
                      <p class="card-text h5 text-center text-muted">
                        Vice President
                      </p>
                    </div>

                    <div class="card-footer bg-transparent text-center">
                      <%= link_to 'Contact', root_path, class: 'btn btn-primary' %>
                    </div>

                  </div>
                </div>





              </div>
            </div>

            <!-- Donation Card --END-- -->
        </div>
      </div>
    </div>


    <!-- Board of Trustees, Officers and Advisers --END-- -->




</div> <!-- end of main container -->