<%= form_for @donation, local:true do |f| %>


<div class="text-center user_form text-white">
  <br>
  <p>
    <%= f.label :item_name, 'Item Name' %> <br>
    <%= f.text_field :item_name, size: 50 %>
  </p>

  <p>
    <%= f.label :item_photo, 'Item Photo' %> <br>
    <%= f.file_field :item_photo, size: 50 %>
  </p>

  <p>
    <%= f.label :item_description, 'Item Description' %> <br>
    <%= f.text_area :item_description, style: 'width: 75%; height: 200px' %>
  </p>

  <p>
    <%= f.submit :Submit, class: 'btn btn-light' %>
    <%= link_to 'Delete Attachments', @donation.item_photo.purge, data: { confirm: 'Are you sure?'}, class: 'btn btn-light' %>

  </p>


<% end %>
</div>