<%= form_for @donation, local:true do |f| %>

<p>
  <%= f.label :item_name %>:
  <%= f.text_field :item_name, :size => 65 %>
</p>

<p>
  <%= f.label :item_photo %>: <br>
  <%= f.file_field :item_photo %>
</p>

<p>
  <%= f.label :item_description %>: <br>
  <%= f.text_area :item_description %>
</p>

<p>
  <%= f.submit :Submit %>
</p>


<% end %>
