<div class="container"> <!-- main container -->
  <div class="row justify-content-center">
        <div class="col-sm-12 donations-showpage">
            
            <!-- Donation Card --START-- -->
            
            <div class="container py-4">
              <div class="row">
                <% @donations.each do |donation| %>
                <div class="col col-sm-4 d-flex align-items-stretch pb-4">
                  <div class="card border-secondary">
                    <div class="card-header text-center">
                      <h5><%= donation.item_name %></h5>
                    </div>
                      <div class="card-body">
                        <% if donation.item_photo.attached? %>
                        <p class="text-center"> <%= image_tag donation.item_photo.variant(resize: '200x150!') %> </p>
                        <% else %>
                        <p class="nophoto text-center" style="height: 150px;">No Photo Attached</p>
                        <% end %>

                        <p class="card-text">
                          <%= donation.item_description %>
                        </p>
                      </div>
                      <div class="card-footer bg-transparent text-center">
                        <%= link_to 'Edit', edit_donation_path(donation), class: 'btn btn-primary' %>

                        <%= link_to 'Delete', donation_path(donation), method: :delete, data: { confirm: "Do you really want to delete this item?"}, class: 'btn btn-primary' %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

            <!-- Donation Card --END-- -->
        </div>
      </div>
    </div>
  