
<hr style="border: 1px solid blue;">
<footer>

  <div class="row">
    
    <div class="col col-sm-3 text-center">
     <%= image_tag 'LACAG Logo.png', alt: 'LACAG Logo', id: 'footerlogo' %>
    </div>

    <div class="col col-sm-3">
      <h3>Address</h3>
      <p>Blk 96 Lot 43 Phase II Nagbunga, Castillejos, Zambales</p>
    </div>

    <div class="col col-sm-3">
      <h3>Contact Details</h3>
      <p>
        Email: lacagspecialagent@gmail.com <br>
        Phone: +63 909 615-3296/+63 977 108-1625
      </p>
    </div>

    <div class="col col-sm-3">
      <h3>Links</h3>
      <button type="button" class="btn btn-fb btn-primary"><i class="fa fa-facebook pr-1"></i> Facebook</button>


    </div>
  </div>
  <div class="container">
    <div>
      <% if current_user %>
    <div class="footer-copyright text-center py-3">Logged in as: <span class="font-weight-bold"> <%= current_user.username %> </span> | © 2018 Law Abiding Citizen Alliance Group. All Rights Reserved. 
    <p> 
      web app & design by: <%= link_to 'ampcodes', donations_path %>
    </p> 
    </div>
  <% else %>
  <div class="footer-copyright text-center py-3"> <%= link_to 'Employee & Admin Login', login_path %> | © 2018 Law Abiding Citizen Alliance Group. All Rights Reserved.

    <% if current_user %>
    <p> 
      web app & design by: <%= link_to 'ampcodes', "https://amichaelpalma.github.io/", target: '_blank', rel: 'nofollow' %>
    </p> 
    <% end %>

    <% end %>
    </p> 
    </div>
  </div>
</footer>

