<!DOCTYPE html>
<html>
  <head>
    <title>LACAG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Search Console -->
    <meta name="google-site-verification" content="ZkuepSdrVseAXb5_LAZyH5Xl2ZOI7yrir19QfqLQOWQ" />

  </head>

  <body>
    <div class="container mx-auto">
    <%= render 'layouts/header' %>
    </div>
    <div class="container pb-3">
    <%= render 'layouts/navbar' %>
    </div>
    <div class="container">
      <%= render 'layouts/messages' %>
    <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
